@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .retro-text {
    @apply text-shadow-custom;
    color: #ffd52cd5; /* Adjust color to match your theme */
    text-shadow: 
      0 0 0.5rem #ffd52cb1,
      0 0 1rem #ffd52c9f,
      0 0 1.5rem #ffd52c91;
  }
}

@layer keyframes {
  @keyframes crtAnimation {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: 0 10000%;
    }
  }
}

@layer components {
  .old-crt-monitor {
    box-shadow: inset 0px 0px 2rem;
    background-image: linear-gradient(0deg, #0000 10%, rgba(255, 255, 255, 0.09) 90%, #0000 100%);
    animation: crtAnimation 100s linear infinite;
    background-size: 100% 80%;
  }
}

.hidden-section {
  display: none;
}

.visible-section {
  display: block;
}

.img-transition {
  transition: opacity 1s ease-out;
  opacity: 1;
}

.img-transition.fade-out {
  opacity: 0;
}

.card {
  position: relative;
  transition: transform 0.3s ease-in-out, height 0.3s ease-in-out;
}

.card.expanded {
  transform: scale(1.1);
  height: auto;
}

.expandable {
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 10;
}


.cards-container {
  display: grid;
  
  /* Adjust row height as needed */


  gap: 20px;
  padding: 10px;
}

.card {
  position: relative;
  display: flex;
  justify-content: stretch;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  transition: all 2.6s ease-in-out; /* Smooth transition for height change */
}

.card details {
  max-height: 150px; /* Adjust this height to suit your design */
  overflow: hidden;
  transition: max-height 1.3s ease-in-out; /* Smooth transition for max-height */
}

.card details[open] {
  max-height: 500px; /* Adjust this height to accommodate expanded content */
  overflow: auto; /* Allow scroll when expanded */
}

details > summary::after {
  content: "Expand +";
}

/* Switches the content when it is open */
details[open] > summary::after {
  content: "Collapse -";
}

/* Removes the default arrow on Chrome */
details > summary::-webkit-details-marker {
  display: none;
  
}

details > summary {
  list-style: none;
  cursor: pointer;
  
}


